<!doctype html>
<html>
  <head>
    <title>Test</title>
    <meta charset="utf-8">

    <!-- Loaded scripts -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="test-vue.js" defer></script>
  </head>
  <body>
    <!-- Show data -->
    <div id="app">
      {{ message }}
    </div>

    <!-- v-bind -->
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <!-- v-if -->
    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    <!-- v-for -->
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <!-- v-on and method -->
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage('bla', 'bla2')">Reverse Message</button>
    </div>

    <!-- v-model and watch -->
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <!-- vue.component -->
    <div id="app-7">
      <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>

    <!-- computed -->
    <div id="app-8">
      <p>{{ message2 }}</p>
      <input v-model="message">
    </div>

  </body>
</html>
